.container {
  background: grey;
  border: 1px solid black;
  padding: 1% 0;
}

.container .question {
  display: flex;
  justify-content: center;
}
.options {
  display: flex;
  flex-direction: column;
}
.options button {
  background: #fff;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.options button:hover {
  background: cyan;
  cursor: pointer;
}
